html{
    width: 467px;
    height: 762px;
    margin: 0 auto;
    font-weight:bolder;
}
h1
{
    text-align:center;
}
#left{
    padding-top: 10px;
    margin-left: 2px;
    width: auto;
    float: left;
}
label
{
    padding-bottom: 10px;
}
aside{
    padding-top: 30px;
    margin-left: 2px;
    width: auto;
    float: left;
}